.node.view-mode-full > .field-name-field-image {
  float: left;
}

.node-article.view-mode-full > .field-name-field-author {
  clear: both;
  float: left;
  margin-right: 1em;
}

.node-article.view-mode-full > .field-name-field-author  > .field-items > .field-item:after,
.node-article.view-mode-full > .field-name-field-editor  > .field-items > .field-item:after,
.node-article.view-mode-full > .field-name-field-release  > .field-items > .field-item:after
{
  content: "|";
  margin-left: 1em;
}

.node-article.view-mode-full > .field-name-field-editor {
  float: left;
  margin-right: 1em;
}

.node-article.view-mode-full > .field-name-field-release {
  float: left;
  margin-right: 1em;
}

.node-article.view-mode-full > .field-name-note-starred {
  float: left;
}

.node.view-mode-full > .field-name-field-tags {
  clear: both;
}

.field-name-field-articles .field-item:first-child {
  clear: both;
}

.field-name-field-articles .field-item {
  float: left;
}

.field-name-field-tags > .field-items > .field-item {
  float: left;
}

.field-name-field-tags:after {
  clear: left;
  content: ".";
  height: 0;
  line-height: 0;
  visibility: hidden;
}

div.field-type-asin {
  border: 0;
}